body {
    background-color: aqua;
    font-family: 'Lucida Console';
}
    #DoctId{background-color:cyan}
.tablestyle3{background-color:lightsalmon;
             font-family:'Myanmar Text';
             font-size:medium;
             font-palette:dark;
             background-size:auto;

}
